<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name = "viewport" content = "width = device-width, user-scalable = no, maximum-scale = 1.0">
		<meta name="author" content="Liam DeBeasi">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="icon" type="image/png" href="images/favicon.png">  
		<link rel="apple-touch-icon-precomposed" href="images/apple-icon.png">
		<link href="css/app.min.css" rel="stylesheet">
		<title>recommendr</title>
    </head>
	<body>
    	<div id="canvas-wrapper">
        	<canvas id="analyser"></canvas>
    	</div>
    	<div class="gradient"></div>
    	
    	<div class="container-fluid">
        	<div class="row">
            	<div class="col-xs-12">
                	<header>
                    	<h1>recommendr</h1>
                    	<a href="/login" class="button trans">LOG IN</a>                   	
                	</header>
            	</div>
        	</div>
        	<div class="row content login">
            	<h1>"There's a playlist for that."</h1>
            	<div class="hero"></div>
        	</div>
            
    	</div>
		<script src="js/min/app.min.js"></script>
	</body>
</html>
